<nav>
    <p>{{title}}</p>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Portfolio<div class="triangle-down"></div></a>
            <ul>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">Video Production</a></li>
            </ul>
        </li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<main id="container">
    <section class="siteTitle">
        <h1>{{title}}</h1>
    </section>

    <div class="content">

    </div>

</main>