<nav>
    <p>{{title}}</p>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Models<div class="triangle-down"></div></a>
            <ul>
                <li><a href="#">Blue</a></li>
                <li><a href="#">Red</a></li>
                <li><a href="#">Stripes</a></li>
            </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<main id="container">
    <section class="siteTitle">
        <h1>{{title}}</h1>
    </section>

    <div class="content">
        <div class="product">
            <img src="/images/chair1.jpg" alt="chair1">
            <h3>Blue Chair</h3>
        </div>
        <div class="product">
            <img src="/images/chair2.jpg" alt="chair2">
            <h3>Red Chair</h3>
        </div>
        <div class="product">
            <img src="/images/chair3.jpg" alt="chair3">
            <h3>Stripes Chair</h3>
        </div>
    </div>

</main>